<link rel="stylesheet" href="/static/landedJobs/style.css">
<div class="container my-4">
    <div class="row" >
        <% jobs.forEach((job) => { %>
            <div class="col-md-3">
                <div class="card" style="width: 18rem;background-color: transparent; color: white; border: solid 1px white;">
                    <div class="card-body">
                        <!-- <p><%= job.id %></p> -->
                        <h4 class="card-title yellow-color"><%=job.companyName %></h4>
                        <h5><%= job.jobName %></h5>
                        <p class="card-text"><%=job.jobType %></p>
                        <h5>₹<%=job.jobSalary %>/m</h5>
                        <% job.skillRequired.forEach((skill)=>{ %>
                            <a href="#" class="btn btn-outline-info my-1 mx-1"><%=skill %></a>
                       <% }) %>
                       <hr>
                        <a href="/jobs/<%= job.id%>" class="btn btn-primary mx-auto">View details</a>
                    </div>
                </div>
            </div>
        <% }); %>

    </div>
</div>
